@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}
html {
  scroll-behavior: smooth;
}

li {
  cursor: pointer;
  font-weight: 500;
}

li:hover {

}

@media (max-width: 768px) {
  li {
    font-size: 26px;
    color: #fff;
    transition: ease-in-out .5s;
  }

  li:hover {
    padding-left: 20px;
  }
}